<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baosight.shop.mapper.AddressMapper">

    <resultMap type="Address" id="AddressResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="loginName" column="login_name"/>
        <result property="consignee" column="consignee"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="street" column="street"/>
        <result property="detailAddr" column="detail_addr"/>
        <result property="zipcode" column="zipcode"/>
        <result property="telephone" column="telephone"/>
        <result property="mobile" column="mobile"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="isDefault" column="is_default"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectAddressVo">
        select id, code, login_name, consignee, province, city, district, street, detail_addr, zipcode, telephone,
        mobile, email, address, is_default, create_time, create_by, update_time, update_by from t_shop_address
    </sql>

    <select id="selectAddressList" parameterType="Address" resultMap="AddressResult">
        <include refid="selectAddressVo"/>
        <where>
            <if test="code != null  and code != ''">and code = #{code}</if>
            <if test="loginName != null ">and login_name = #{loginName}</if>
            <if test="consignee != null  and consignee != ''">and consignee = #{consignee}</if>
            <if test="province != null  and province != ''">and province = #{province}</if>
            <if test="city != null  and city != ''">and city = #{city}</if>
            <if test="district != null  and district != ''">and district = #{district}</if>
            <if test="street != null  and street != ''">and street = #{street}</if>
            <if test="detailAddr != null  and detailAddr != ''">and detail_addr = #{detailAddr}</if>
            <if test="zipcode != null  and zipcode != ''">and zipcode = #{zipcode}</if>
            <if test="telephone != null  and telephone != ''">and telephone = #{telephone}</if>
            <if test="mobile != null  and mobile != ''">and mobile = #{mobile}</if>
            <if test="email != null  and email != ''">and email = #{email}</if>
            <if test="address != null  and address != ''">and address = #{address}</if>
            <if test="isDefault != null  and isDefault != ''">and is_default = #{isDefault}</if>
        </where>
    </select>

    <select id="selectAddressById" parameterType="Long" resultMap="AddressResult">
        <include refid="selectAddressVo"/>
        where id = #{id}
    </select>

    <insert id="insertAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="id">
        insert into t_shop_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null  and code != ''">code,</if>
            <if test="loginName != null ">login_name,</if>
            <if test="consignee != null  and consignee != ''">consignee,</if>
            <if test="province != null  and province != ''">province,</if>
            <if test="city != null  and city != ''">city,</if>
            <if test="district != null  and district != ''">district,</if>
            <if test="street != null  and street != ''">street,</if>
            <if test="detailAddr != null  and detailAddr != ''">detail_addr,</if>
            <if test="zipcode != null  and zipcode != ''">zipcode,</if>
            <if test="telephone != null  and telephone != ''">telephone,</if>
            <if test="mobile != null  and mobile != ''">mobile,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="isDefault != null  and isDefault != ''">is_default,</if>
            create_time,
            <if test="createBy != null  and createBy != ''">create_by,</if>
            update_time,
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null  and code != ''">#{code},</if>
            <if test="loginName != null ">#{loginName},</if>
            <if test="consignee != null  and consignee != ''">#{consignee},</if>
            <if test="province != null  and province != ''">#{province},</if>
            <if test="city != null  and city != ''">#{city},</if>
            <if test="district != null  and district != ''">#{district},</if>
            <if test="street != null  and street != ''">#{street},</if>
            <if test="detailAddr != null  and detailAddr != ''">#{detailAddr},</if>
            <if test="zipcode != null  and zipcode != ''">#{zipcode},</if>
            <if test="telephone != null  and telephone != ''">#{telephone},</if>
            <if test="mobile != null  and mobile != ''">#{mobile},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="isDefault != null  and isDefault != ''">#{isDefault},</if>
            sysdate(),
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateAddress" parameterType="Address">
        update t_shop_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="loginName != null ">login_name = #{loginName},</if>
            <if test="consignee != null  and consignee != ''">consignee = #{consignee},</if>
            <if test="province != null  and province != ''">province = #{province},</if>
            <if test="city != null  and city != ''">city = #{city},</if>
            <if test="district != null  and district != ''">district = #{district},</if>
            <if test="street != null  and street != ''">street = #{street},</if>
            <if test="detailAddr != null  and detailAddr != ''">detail_addr = #{detailAddr},</if>
            <if test="zipcode != null  and zipcode != ''">zipcode = #{zipcode},</if>
            <if test="telephone != null  and telephone != ''">telephone = #{telephone},</if>
            <if test="mobile != null  and mobile != ''">mobile = #{mobile},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="isDefault != null  and isDefault != ''">is_default = #{isDefault},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            update_time = sysdate(),
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAddressById" parameterType="Long">
        delete from t_shop_address where id = #{id}
    </delete>

    <delete id="deleteAddressByIds" parameterType="String">
        delete from t_shop_address where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="seachProvince" resultType="com.baosight.common.domain.CxSelect">
        select distinct p_code as v,p_name as n,null as s from area
    </select>

    <select id="seachCity" resultType="com.baosight.common.domain.CxSelect">
        select distinct c_code as v,c_name as n,null as s from area where p_code = #{v}
    </select>

    <select id="seachDistrict" resultType="com.baosight.common.domain.CxSelect">
        select distinct cu_code as v,cu_name as n,null as s from area where c_code = #{v}
    </select>
</mapper>