<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baosight.shop.mapper.OnlinePaintMapper">

    <resultMap type="TemplateVo" id="templateVoResult">
        <id     property="id"       column="id"      />
        <result property="tmplCode"       column="tmpl_code"      />
        <result property="tmplName"    column="tmpl_name"   />
        <result property="tmplDesc"     column="user_name"    />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <association property="can"     javaType="Can" resultMap="canResult" />
        <collection  property="files"   javaType="java.util.List"        resultMap="commonFileResult" />
    </resultMap>

    <resultMap id="canResult" type="Can">
        <result property="canCode"   column="can_code"     />
        <result property="canStyle" column="can_style"   />
        <result property="neckline" column="neckline"   />
        <result property="width" column="width"   />
        <result property="height"   column="height"      />
    </resultMap>

    <resultMap id="commonFileResult" type="CommonFile">
        <result property="bizCode"       column="biz_code"        />
        <result property="bizType"     column="biz_type"      />
        <result property="fileName"      column="file_name"       />
        <result property="filePath"     column="file_path"      />

    </resultMap>

    <sql id="selectTemplateVo">
        select t.id,t.tmpl_code,tmpl_name,t.tmpl_desc,t.`status`,t.create_time,t.create_by,t.update_time,t.update_by,
               c.can_code,c.can_style,c.neckline,c.width,c.height,
               f.biz_code,f.biz_type,f.file_name,f.file_path
		from t_mgmt_template t
			 left join t_mgmt_tmpl_can tc on t.tmpl_code = tc.tmpl_code
             left join t_mgmt_can c on tc.can_code = c.can_code
             left join t_mgmt_tmpl_cont tct on t.tmpl_code = tct.tmpl_code
             left join t_mgmt_contents ct on tct.cont_code = ct.cont_code
             left join t_common_file f on t.tmpl_code = f.biz_code
    </sql>

    <select id="selectTemplateByCode" parameterType="String" resultMap="templateVoResult">
        <include refid="selectTemplateVo"/>
        where t.tmpl_code = #{tmplCode}
    </select>


</mapper>