<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baosight.mgmt.mapper.ContentsMapper">

    <resultMap type="Contents" id="ContentsResult">
        <result property="id" column="id"/>
        <result property="contCode" column="cont_code"/>
        <result property="contName" column="cont_name"/>
        <result property="producer" column="producer"/>
        <result property="contDesc" column="cont_desc"/>
        <result property="factory" column="factory"/>
        <result property="adress" column="adress"/>
        <result property="zipcode" column="zipcode"/>
        <result property="contactPerson" column="contact_person"/>
        <result property="contactTel" column="contact_tel"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectContentsVo">
        select id, cont_code, cont_name, producer, cont_desc, factory, adress, zipcode, contact_person, contact_tel,
        status, create_time, create_by, update_time, update_by from t_mgmt_contents
    </sql>

    <select id="selectContentsList" parameterType="Contents" resultMap="ContentsResult">
        <include refid="selectContentsVo"/>
        <where>
            <if test="contCode != null  and contCode != ''">and cont_code = #{contCode}</if>
            <if test="contName != null  and contName != ''">and cont_name like concat('%', #{contName}, '%')</if>
            <if test="producer != null  and producer != ''">and producer like concat('%', #{producer}, '%')</if>
            <if test="contDesc != null  and contDesc != ''">and cont_desc = #{contDesc}</if>
            <if test="factory != null  and factory != ''">and factory = #{factory}</if>
            <if test="adress != null  and adress != ''">and adress = #{adress}</if>
            <if test="zipcode != null  and zipcode != ''">and zipcode = #{zipcode}</if>
            <if test="contactPerson != null  and contactPerson != ''">and contact_person = #{contactPerson}</if>
            <if test="contactTel != null  and contactTel != ''">and contact_tel = #{contactTel}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
        </where>
    </select>

    <select id="selectContentsById" parameterType="Long" resultMap="ContentsResult">
        <include refid="selectContentsVo"/>
        where id = #{id}
    </select>

    <insert id="insertContents" parameterType="Contents">
        insert into t_mgmt_contents
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="contCode != null  and contCode != ''">cont_code,</if>
            <if test="contName != null  and contName != ''">cont_name,</if>
            <if test="producer != null  and producer != ''">producer,</if>
            <if test="contDesc != null  and contDesc != ''">cont_desc,</if>
            <if test="factory != null  and factory != ''">factory,</if>
            <if test="adress != null  and adress != ''">adress,</if>
            <if test="zipcode != null  and zipcode != ''">zipcode,</if>
            <if test="contactPerson != null  and contactPerson != ''">contact_person,</if>
            <if test="contactTel != null  and contactTel != ''">contact_tel,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="contCode != null  and contCode != ''">#{contCode},</if>
            <if test="contName != null  and contName != ''">#{contName},</if>
            <if test="producer != null  and producer != ''">#{producer},</if>
            <if test="contDesc != null  and contDesc != ''">#{contDesc},</if>
            <if test="factory != null  and factory != ''">#{factory},</if>
            <if test="adress != null  and adress != ''">#{adress},</if>
            <if test="zipcode != null  and zipcode != ''">#{zipcode},</if>
            <if test="contactPerson != null  and contactPerson != ''">#{contactPerson},</if>
            <if test="contactTel != null  and contactTel != ''">#{contactTel},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateContents" parameterType="Contents">
        update t_mgmt_contents
        <trim prefix="SET" suffixOverrides=",">
            <if test="contCode != null  and contCode != ''">cont_code = #{contCode},</if>
            <if test="contName != null  and contName != ''">cont_name = #{contName},</if>
            <if test="producer != null  and producer != ''">producer = #{producer},</if>
            <if test="contDesc != null  and contDesc != ''">cont_desc = #{contDesc},</if>
            <if test="factory != null  and factory != ''">factory = #{factory},</if>
            <if test="adress != null  and adress != ''">adress = #{adress},</if>
            <if test="zipcode != null  and zipcode != ''">zipcode = #{zipcode},</if>
            <if test="contactPerson != null  and contactPerson != ''">contact_person = #{contactPerson},</if>
            <if test="contactTel != null  and contactTel != ''">contact_tel = #{contactTel},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteContentsById" parameterType="Long">
        delete from t_mgmt_contents where id = #{id}
    </delete>

    <delete id="deleteContentsByIds" parameterType="String">
        delete from t_mgmt_contents where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>