<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baosight.common.mapper.CommonFileMapper">

    <resultMap type="CommonFile" id="CommonFileResult">
        <result property="id" column="id"/>
        <result property="bizCode" column="biz_code"/>
        <result property="bizType" column="biz_type"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectCommonFileVo">
        select id, biz_code, biz_type, file_name, file_path, create_time, create_by, update_time, update_by from
        t_common_file
    </sql>

    <select id="selectCommonFileList" parameterType="CommonFile" resultMap="CommonFileResult">
        <include refid="selectCommonFileVo"/>
        <where>
            <if test="bizCode != null  and bizCode != ''">and biz_code = #{bizCode}</if>
            <if test="bizType != null  and bizType != ''">and biz_type = #{bizType}</if>
            <if test="fileName != null  and fileName != ''">and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''">and file_path = #{filePath}</if>
        </where>
    </select>

    <select id="selectCommonFileById" parameterType="Long" resultMap="CommonFileResult">
        <include refid="selectCommonFileVo"/>
        where id = #{id}
    </select>

    <insert id="insertCommonFile" parameterType="CommonFile">
        insert into t_common_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="bizCode != null  and bizCode != ''">biz_code,</if>
            <if test="bizType != null  and bizType != ''">biz_type,</if>
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="filePath != null  and filePath != ''">file_path,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="bizCode != null  and bizCode != ''">#{bizCode},</if>
            <if test="bizType != null  and bizType != ''">#{bizType},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="filePath != null  and filePath != ''">#{filePath},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateCommonFile" parameterType="CommonFile">
        update t_common_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="bizCode != null  and bizCode != ''">biz_code = #{bizCode},</if>
            <if test="bizType != null  and bizType != ''">biz_type = #{bizType},</if>
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="filePath != null  and filePath != ''">file_path = #{filePath},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCommonFileById" parameterType="Long">
        delete from t_common_file where id = #{id}
    </delete>

    <delete id="deleteCommonFileByIds" parameterType="String">
        delete from t_common_file where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>