<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增模板管理')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本信息</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m" id="form-template-add">
                        <div class="form-group" hidden="hidden">
                            <label class="col-sm-2 control-label">模板代码：</label>
                            <div class="col-sm-6">
                                <input id="tmplCode" name="tmplCode" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">模板名称：</label>
                            <div class="col-sm-6">
                                <input id="tmplName" name="tmplName" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">模板描述：</label>
                            <div class="col-sm-6">
                                <textarea id="tmplDesc" name="tmplDesc" class="form-control" rows="3"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">罐型：</label>
                            <div class="col-xs-10">
                                <label th:each="can:${cans}" class="check-box">
                                    <input name="can" type="checkbox" th:value="${can.canCode}"
                                           th:text="${can.canStyle}">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容物:</label>
                            <div class="col-xs-10">
                                <label th:each="contents:${contents}" class="check-box">
                                    <input name="contents" type="checkbox" th:value="${contents.contCode}"
                                           th:text="${contents.contName}">
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="ibox float-e-margins" id="haibao" name="haibao" hidden="hidden">
                <div class="ibox-title">
                    <h5>主题海报</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="fileinput-demo" name="file" type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins" id="moban" name="moban" hidden="hidden">
                <div class="ibox-title">
                    <h5>主题模板</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="fileinput-demo-1" name="file" type="file" multiple>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins" id="yuansu" name="yuansu" hidden="hidden">
                <div class="ibox-title">
                    <h5>主题元素</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="file-loading">
                            <input id="fileinput-demo-2" name="file" type="file" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button id="baocun" type="button" class="btn btn-sm btn-primary" onclick="saveBasic()"><i class="fa fa-check"></i>保 存
            </button>&nbsp;
            <button id="wanchen" style="display: none" type="button" class="btn btn-sm btn-primary" onclick="wanchen()"><i class="fa fa-check"></i>完 成
            </button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
            </button>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script type="text/javascript">
    var prefix = ctx + "mgmt/template"
    $(document).ready(function () {
        //海报
        $('#fileinput-demo').fileinput({
            language: 'zh',
            uploadUrl: prefix + '/upload',
            allowedFileExtensions: ['jpg', 'png'],//接收的文件后缀
            showCaption: true,//是否显示被选文件的简介
            showUpload: true,//是否显示上传按钮
            showRemove: true,//是否显示删除按钮
            showClose: true,//是否显示关闭按钮
            uploadAsync: true, //false 同步上传，后台用数组接收，true 异步上传，每次上传一个file,会调用多次接口
            layoutTemplates: {
                actionUpload: '',//就是让文件上传中的文件去除上传按钮
                //actionDelete: '',//去除删除按钮
            },
            browseClass: 'btn btn-primary',
            dropZoneEnabled: false,
            uploadExtraData: function () {//向后台传递参数
                var data = {
                    bizCode: $("#tmplCode").val(),
                    bizType: common_file_type.haibao,
                };
                return data;
            },
        }).on("fileuploaded", function (event, data, previewId, index) {
            //成功
            console.log(data)
        }).on("fileerror", function (event, data, msg) {
            alert(msg)//报错
        });

        //模板
        $('#fileinput-demo-1').fileinput({
            language: 'zh',
            uploadUrl: prefix + '/upload',
            showCaption: true,//是否显示被选文件的简介
            showUpload: true,//是否显示上传按钮
            showRemove: true,//是否显示删除按钮
            showClose: true,//是否显示关闭按钮
            uploadAsync: true, //false 同步上传，后台用数组接收，true 异步上传，每次上传一个file,会调用多次接口
            layoutTemplates: {
                actionUpload: '',//就是让文件上传中的文件去除上传按钮
                //actionDelete: '',//去除删除按钮
            },
            dropZoneEnabled: false,
            browseClass: 'btn btn-primary',
            uploadExtraData: function () {//向后台传递参数
                var data = {
                    bizCode: $("#tmplCode").val(),
                    bizType: common_file_type.moban,
                };
                return data;
            },
        }).on("fileuploaded", function (event, data, previewId, index) {
            //成功
            console.log(data)
        }).on("fileerror", function (event, data, msg) {
            alert(msg)//报错
        });

        //元素
        $('#fileinput-demo-2').fileinput({
            language: 'zh',
            uploadUrl: prefix + '/upload',
            showCaption: true,//是否显示被选文件的简介
            showUpload: true,//是否显示上传按钮
            showRemove: true,//是否显示删除按钮
            showClose: true,//是否显示关闭按钮
            uploadAsync: true, //false 同步上传，后台用数组接收，true 异步上传，每次上传一个file,会调用多次接口
            layoutTemplates: {
                actionUpload: '',//就是让文件上传中的文件去除上传按钮
                //actionDelete: '',//去除删除按钮
            },
            dropZoneEnabled: false,
            browseClass: 'btn btn-primary',
            uploadExtraData: function () {//向后台传递参数
                var data = {
                    bizCode: $("#tmplCode").val(),
                    bizType: common_file_type.yuansu,
                };
                return data;
            },
        }).on("fileuploaded", function (event, data, previewId, index) {
            //成功
            console.log(data)
        }).on("fileerror", function (event, data, msg) {
            alert(msg)//报错
        });
    });

    $("#form-template-add").validate({
        focusCleanup: true
    });

    /*保存按钮*/
    function saveBasic() {
        var url = prefix + "/add";
        //基本信息取值赋值
        var template = new Object();
        template["tmplName"] = $("#tmplName").val();
        template["tmplDesc"] = $("#tmplDesc").val();
        template["status"] = '10';
        //罐型
        var can = [];
        $('input[name="can"]:checked').each(function () {
            can.push($(this).val());
        });

        //罐型
        var contents = [];
        $('input[name="contents"]:checked').each(function () {
            contents.push($(this).val());
        });
        var data = {
            "template": template,
            "can": can,
            "contents": contents
        }
        console.log(data);
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (result) {
                if (result.code == web_status.SUCCESS) {
                    $.modal.msgSuccess(result.msg);
                    $("#haibao").removeAttr("hidden");
                    $("#moban").removeAttr("hidden");
                    $("#yuansu").removeAttr("hidden");
                    $("#baocun").attr("style","display:none");
                    $("#wanchen").attr("style","display:block;");
                    $("#tmplCode").val(result.data);
                } else if (result.code == web_status.WARNING) {
                    $.modal.msgWarning(result.msg)
                } else {
                    $.modal.msgWarning(result.msg);
                }

            }
        };
        $.ajax(config)
    }

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-template-add').serialize());
        }
    }
    function wanchen() {
        $.modal.closeTab();
        $.modal.closeLoading();
    }
</script>
</body>
</html>